:root {
  animation-name: root;
  font-size: 25px;
  animation-duration: 4s;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
  margin: 0;
  justify-content: center;
  align-items: center;
  animation-name: body;
  animation-duration: 4s;
}

.header {
  margin-top: 30px;
  text-align: center;
}

.genres {
  display: flex;
  text-align: center;
}

.record-1, .record-2, .record-3, .record-4 {
  padding: 20px;
}

.record-1 h2:hover {
  color: #00405e;
}
.record-2 h2:hover {
  color: #008c6c;
}
.record-3 h2:hover {
  color: #3e0059;
}
.record-4 h2:hover {
  color: #b05200;
}

#record1, #record2, #record3, #record4 {
  border: 1.4rem solid black;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 4s linear infinite;
}

#record1 {
  border-top: 1.4rem solid #00405e;
}

#record2 {
  border-top: 1.4rem solid #008c6c;
}

#record3 {
  border-top: 1.4rem solid #3e0059;
}

#record4 {
  border-top: 1.4rem solid #b05200;
}

/* Animations */

@keyFrames spin {
 0% {
   transform: rotate(0deg);
 }
 100% {
   transform: rotate(360deg);
 }
}

@keyframes root {
  from {background-color: #f8f8f8;}
  to {background-color: #242424;}
  from {font-size: 25px;}
  to {font-size: 40px;}
}

@keyframes body {
  from { color: #333;}
  to { color: #f8f8f8;}
}
